@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body {
    margin: 0px;
}
header {
    background-image: linear-gradient(to bottom, #79cac3, #5a9c8d);
    color: white;
    text-align: center;
    max-height: 240px;
    min-height: 180px;
    padding: 10px 0;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.534);
}
header h1 {
    font-family: 'Audiowide', cursive;
    margin: 0;
    font-size: 4.5em;
}
h2.subtitulo {
    margin-top: 0px;
}
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 10px;
    position: relative;
    padding-bottom: 50%;
}
div.video iframe {
    display: block;
    margin: auto;
    position: absolute;
    top: 5%;
    left: 3%;
    width: 94%;
    height: 90%;
}
main {
    border-radius: 0px 0px 15px 15px;
    padding-top: 20px;
    background-color: rgb(193, 226, 255);
    max-width: 1000px;
    padding-left: 30px;
    margin: auto;
}
#sub {
    font-style: italic;
    padding-right: 0px;
    padding-left: auto;
    text-align: center;
}
p {
    text-align: justify;
    padding-right: 30px;
    font-family: 'Slabo 13px', sans-serif;
    font-size: 1.3em;
}
img {
    max-width: 300px;
    max-height: 300px;
    float: right;
    padding-right: 20px;
}
aside {
    border-radius: 15px;
    background-color: #79cac3;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.534);
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: #1c302e;
}
a:hover {
    text-decoration: underline;
    color: black;
}
#fim {
    margin-bottom: 50px;
    padding-bottom: 30px;
}
footer {
    text-align: center;
    background-color: #5a9c8d;
    color: white;
    padding: 20px;
    margin-top: 20px;
}
ul {
    font-size: 1.2em;
}
.easy:hover > a {
    background-color: #39fa59;

}
.medium:hover > a {
    background-color: #faff3a;

}
.hard:hover > a {
    background-color: #fa3a3a;
}